{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}
  {% endblock %}

  <div class="row">
    <div class="eleven columns">
      <ol id="post-list">
        {% for article in articles_page.object_list %}
          {% include 'article_summary.html' %}
        {% endfor %}
      </ol><!-- /#posts-list -->
    </div><!-- /.eleven.columns -->

    {% include 'sidebar.html' %}
  </div><!-- /.row -->

  {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
